@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: opaque;
  }
}

.typing-effect {
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid white; /* Simulating the cursor */
  letter-spacing: 0.15em;
}

/* For Chromium-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Slimmer scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Darker shade for the scrollbar thumb */
  border-radius: 10px; /* Fully rounded ends for the pill shape */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" makes it slimmer */
  scrollbar-color: #888 #f0f0f0; /* thumb and track color, thumb is the first color */
}

.tooltip[data-tooltip]:hover:after {
  @apply bg-black text-white p-2 rounded-lg;
  content: attr(data-tooltip);
  position: absolute;
  left: 100%; /* Adjust based on your layout */
  top: 0; /* Adjust based on your layout */
  white-space: nowrap;
}
